root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Python files
[*.py]
indent_style = space
indent_size = 4
max_line_length = 88
multi_line_output = 3
include_trailing_comma = true

# rust files
[*.rs]
indent_style = tab
indent_size = 4
max_line_length = 88
multi_line_output = 3
include_trailing_comma = true

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Documentation
[*.md]
trim_trailing_whitespace = false
